# Ignore test and train images
/data/train/
data/test/

# Ignore specific data files
data/alpaca_mbj_bandgap_train.json
data/alpaca_mbj_bandgap_train.csv
data/alpaca_mbj_bandgap_test.json
data/alpaca_mbj_bandgap_test.csv

models/CLIPP_allenai/checkpoints/best_clipp.pth
models/Salesforce/checkpoints_blip/best_blip.pth
models/CLIPP_bert/checkpoints/best_clipp_bert.pth
models/Apple_MobileCLIP/checkpoints/best_clipp_apple.pth